*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.aa.container .row .col-md-5{
  background: gray;
}
.aa  p a:hover{
  color: white;
}